.table {
	border-radius: 1em;
	user-select: none;
	box-shadow: var(--double-drop-shadow);
	overflow: hidden;
	width: min(550px, 80vw);
	border: var(--border-width) solid var(--color-black);
	border-spacing: 0;
	text-align: left;

	th,
	td {
		border-collapse: collapse;
		border-spacing: 0;
		padding: 0.5em 2em;
		text-align: left;

		span {
			@media (max-width: 800px) {
				font-size: 1.25rem;
			}
		}
	}

	td {
		border-top: var(--border-width) solid var(--color-black);
	}

	thead {
		background-color: var(--color-blue);
	}

	tbody {
		tr {
			vertical-align: middle;
			background-color: var(--color-white);

			&:nth-of-type(odd) {
				background-color: var(--color-gray);
			}
		}
	}
}
