.button {
	border: var(--border-width) solid var(--color-black);
	border-radius: 0.5em;
	user-select: none;
	padding: 1em 2em;
	box-shadow: var(--double-drop-shadow);
	appearance: none;
	position: relative;
	outline: var(--border-width) solid transparent;
	outline-offset: calc(2 * var(--border-width));

	&:focus {
		outline-color: var(--color-blue);
	}

	// Override OutlinedText styles
	> span {
		font-size: 1.75rem;
		-webkit-text-stroke-width: 3px;
	}

	&[data-color="blue"] {
		background-color: var(--color-blue);
	}

	&[data-color="pink"] {
		background-color: var(--color-pink);
	}
}
