.menu-items {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	text-align: center;
	font-size: 2.75rem;
}

.menu-item {
	a,
	button {
		--opacity: 0;
		--translateX: 0;
		--translateY: -50%;

		border: none;
		outline: none;
		background: none;
		position: relative;
		font-size: inherit;

		&::before,
		&::after {
			width: 100px;
			aspect-ratio: 1 / 1;
			position: absolute;
			top: 50%;
			transform: translate(var(--translateX), var(--translateY));
			transition: transform 0.15s ease-out, opacity 0.15s ease-out;
			opacity: var(--opacity);
		}

		&::before {
			--translateX: calc(-1 * (100% + 0.75em));
			content: url("/images/symbols/pizza-right.svg");
			opacity: var(--opacity);
		}

		&::after {
			--translateX: 0.35em;
			content: url("/images/symbols/pizza-left.svg");
			opacity: var(--opacity);
		}

		&:hover,
		&:focus {
			--opacity: 1;

			&::before {
				--translateX: calc(-1 * (100% + 0.5em));
			}

			&::after {
				--translateX: 0.1em;
			}
		}
	}
}

.options-modal {
	padding: 2.5rem;
	margin: auto;
	border-radius: 1rem;
	background-color: var(--color-white);
}

.options-modal-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.options {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.background-option {
	display: flex;
	width: 120px;
	aspect-ratio: 1 / 1;
	border-radius: 0.5em;
	background-blend-mode: multiply;
	border: var(--border-width) solid var(--color-black);
	background-size: contain;

	&[data-color="orange"] {
		background-image: url("/images/backgrounds/orange.svg");
		background-color: var(--color-orange);
	}
	&[data-color="blue"] {
		background-image: url("/images/backgrounds/blue.svg");
		background-color: var(--color-blue);
	}
	&[data-color="pink"] {
		background-image: url("/images/backgrounds/pink.svg");
		background-color: var(--color-pink);
	}
}

.close-button {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 3rem;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
	border-radius: 50%;
	font-size: 2rem;
	border: none;
	background-color: transparent;
	transition: all 0.15s ease-out;
	border: var(--border-width) solid transparent;

	&:hover,
	&:focus {
		background-color: var(--color-blue);
		color: var(--color-white);
		border-color: var(--color-black);
	}
}
