.back-link {
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	width: 8rem;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url("/images/arrow-left.svg");
	background-size: contain;
}
