.card-container {
	display: flex;
	align-items: center;
	justify-content: center;
	outline: var(--border-width) solid var(--color-black);
	box-shadow: var(--double-drop-shadow);
	border-radius: 50%;
}

.card {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-white);
	padding: 1em;
	aspect-ratio: 1 / 1;
	border-radius: inherit;
	width: 20em;
	position: relative;
	transform: rotate(var(--card-rotation));
	animation: spin 40s linear infinite;
}

.symbol-image-container {
	position: absolute;
	left: 50%;
	transform-origin: bottom;
	transform: translate(-50%, -50%) rotate(var(--offset-angle));
}

.symbol-button {
	appearance: none;
	border: none;
	background: none;
	cursor: pointer;
	margin-bottom: 36px;
	width: 5em;
	aspect-ratio: 1 / 1;
	transform: rotate(var(--image-rotation)) scale(var(--image-scale));
	border-radius: 50%;

	> img {
		transition: transform 0.15s ease-out;
	}

	&:hover {
		> img {
			transform: scale(1.15);
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
