* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: white;
	background: black;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

.deck {
	display: flex;
	gap: 1em;
}

.card {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	padding: 1em;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	width: 250px;
	position: relative;
	transform: rotate(var(--card-rotation));
}

.emoji-container {
	position: absolute;
	left: 50%;
	transform-origin: bottom;
	transform: translate(-50%, -50%) rotate(var(--offset-angle));
}

.emoji {
	width: 4em;
	aspect-ratio: 1 / 1;
	transform: rotate(var(--image-rotation)) scale(var(--image-scale));
	margin-bottom: 36px;
}
