* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: white;
	background: black;
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

.deck {
	display: flex;
	gap: 1em;
}

.card {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	padding: 1em;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	width: 250px;
	position: relative;
	transform: rotate(var(--card-rotation));
	animation: spin 40s linear infinite;
}

.symbol-image-container {
	position: absolute;
	left: 50%;
	transform-origin: bottom;
	transform: translate(-50%, -50%) rotate(var(--offset-angle));
}

.symbol-button {
	appearance: none;
	border: none;
	background: none;
	cursor: pointer;
	margin-bottom: 36px;
	width: 5em;
	aspect-ratio: 1 / 1;
	transform: rotate(var(--image-rotation)) scale(var(--image-scale));
	border-radius: 50%;

	> img {
		transition: transform 0.15s ease-out;
	}

	&:hover {
		> img {
			transform: scale(1.15);
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
