.main {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4em;
	padding: 4rem;
	min-height: 100vh;
}

.logo {
	animation: float 4s ease-in-out infinite;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
}

@keyframes float {
	0%,
	100% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-15px);
	}
}
