.main {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4em;
	padding: 4rem;
	min-height: 100vh;
	min-height: 100dvh;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	animation: float 4s ease-in-out infinite;

	@media (max-width: 800px) {
		img {
			width: 90%;
			height: unset;
		}
	}
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
}

.card {
	@media (max-width: 800px) {
		display: none;
	}
}

@keyframes float {
	0%,
	100% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-15px);
	}
}
