.outlined-text {
	font-size: var(--font-size);
	font-family: "Kid Games", sans-serif;
	color: var(--color-white);
	-webkit-text-fill-color: var(--color-white);
	-webkit-text-stroke-color: var(--color-black);
	-webkit-text-stroke-width: 0.1em;
	text-transform: uppercase;
	letter-spacing: -0.05em;
	cursor: inherit;

	@media (max-width: 800px) {
		font-size: calc(0.8 * var(--font-size));
	}
}
