.timer {
	transition: all 0.15s ease-out;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

	&[data-should-pulse="true"][data-is-paused="false"] {
		animation: pulse 1s ease-out infinite;
		color: var(--color-red);
		-webkit-text-fill-color: var(--color-red);
	}
}

@keyframes pulse {
	0%,
	100% {
		transform: scale(1.15);
		filter: brightness(1);
	}
	50% {
		transform: scale(1);
		filter: brightness(1.5);
	}
}
