.dobble {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	padding-top: var(--gameplay-padding);
	min-height: 100vh;
	min-height: 100dvh;
	width: 100%;
	overflow: hidden;
	position: relative;

	@media (max-width: 800px) {
		gap: 0.5rem;
	}
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

.logo {
	width: 100%;

	@media (max-width: 800px) {
		width: 200px;
		height: unset;
	}
}

.back-to-menu-link {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.5em;
	outline: var(--border-width) solid transparent;
	outline-offset: calc(2 * var(--border-width));

	&:focus {
		outline-color: var(--color-blue);
	}
}

.cards {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2em;

	@media (max-width: 800px) {
		flex-direction: column;
		gap: 1em;
	}
}

.game-action-buttons {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(var(--border-width), -50%);
}

.game-info-bar {
	transform: translateY(calc(2 * var(--border-width)));

	@media (max-width: 800px) {
		width: 100%;
		transform: none;
	}
}
