.dobble {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 2em;
	padding-top: var(--gameplay-padding);
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

.back-to-menu-link {
	border-radius: 0.5em;
	outline: var(--border-width) solid transparent;
	outline-offset: calc(2 * var(--border-width));

	&:focus {
		outline-color: var(--color-blue);
	}
}

.cards {
	display: flex;
	gap: 2em;
}

.game-action-buttons {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(var(--border-width), -50%);
}

.game-info-bar {
	transform: translateY(calc(2 * var(--border-width)));
}
